{% load custom_filters %}


{% if clickable %}
<form method="POST" action="/details/{{ film.id }}/rate" class="flex flex-wrap gap-1 flex-row">
    {% csrf_token %}
    <div class="flex items-center gap-1 mr-1">
        {% for i in "12345" %}
            {% with i_int=i|add:"0" %}
            {% if i_int <= rate %}
                <input id="input-{{ i }}" type="radio" name="rating" value="{{ i }}" class="hidden peer/rate-{{ i }}" checked onchange="this.form.submit()">
            {% else %}
                <input id="input-{{ i }}" type="radio" name="rating" value="{{ i }}" class="hidden peer/rate-{{ i }}" onchange="this.form.submit()">
            {% endif %}
            {% endwith %}


            <label id="label-{{ i }}" for="input-{{ i }}" class="peer-checked/rate-{{ i }}:text-yellow-300 text-night-300 cursor-pointer">
                <svg class="w-6 h-6 duration-150 hover:scale-125 ease-out" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
            </label>
        {% endfor %}
    </div>
    <p class="text-md font-medium text-night-100">{{ rate }} out of 5</p>


</form>

<script>
    const labels = document.querySelectorAll('label');
    const inputs = document.querySelectorAll('input[type="radio"]');

    function updateStarColors() {
        let checkedIdx = -1;
        for(let i = 0; i < 5; i++) {
            if(inputs[i].checked) {
                checkedIdx = i;
            }
        }
        labels.forEach((label, index) => {
            label.classList.toggle('text-yellow-300', index <= checkedIdx);
            label.classList.toggle('text-night-300', index > checkedIdx);
        });
    }

    labels.forEach((label, index) => {
        label.addEventListener('mouseover', () => {
            labels.forEach((lbl, idx) => {
                lbl.classList.toggle('text-yellow-300', idx <= index);
                lbl.classList.toggle('text-night-300', idx > index);
            });
        });

        label.addEventListener('mouseout', () => {
            updateStarColors();
        });
    });

    updateStarColors();
</script>


{% else %}

<div class="relative flex flex-wrap gap-1">
    <div class="absolute flex items-center gap-1 mr-1">
        {% with ''|center:5 as range %}
        {% for _ in range %}
            <svg class="w-4 h-4 duration-150 ease-out-back text-night-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
        {% endfor %}
        {% endwith %}
    </div>

    {% if star > 0 %}
    
    <div class="absolute flex items-center gap-1">
        {% with star|subtract:0 as new_range %}
            {% with ''|center:new_range as range %}
                {% for _ in range %}
                    <svg class="w-4 h-4 duration-150 ease-out-back text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                    </svg>
                {% endfor %}
            {% endwith %}
        {% endwith %}

        {% with star|fraction_times_100_one_minus as fractional_percentage %}
            <svg style="clip-path: inset(0 {{ fractional_percentage }}% 0 0);" class="w-4 h-4 duration-150 ease-out-back text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
        {% endwith %}

    </div>
    {% endif %}

    <p class="text-sm ml-26 mt-0 -translate-y-0.5 font-medium text-night-100">{{ star }} out of 5</p>
</div>

{% endif %}

