{% extends "base.html" %}
{% load static %}

{% block main %} 
<section class="xxs:h-screen xxs:bg-night-900 bg-night-800 justify-center">
    <div class="flex flex-col w-full items-center justify-center p-5 mx-auto xxs:h-screen lg:py-0">
        <div class="w-full rounded-2xl xxs:shadow-lg border md:mt-0 xxs:max-w-2xl xl:p-0 bg-night-800 border-none">
            <div class="space-y-4 md:space-y-6 xxs:p-8 xxs:pt-6">
                <h1 class="text-xl xxs:text-2xl font-bold leading-tight tracking-tight md:text-2xl text-white justify-center flex">
                    Create a New Account
                </h1>
                <form class="space-y-2 md:space-y-4 xxs:grid xxs:grid-cols-2 gap-y-0 gap-x-4"  method="POST" novalidate action="/signup">
                    {% csrf_token %}
                        
                    {% for field in form %}
                    <div class="relative">
                        {% if field.errors %}
                            <div class="text-red-500 mt-2 text-xs absolute right-0 bottom-0 z-10 mx-2 my-1 select-none pointer-events-none font-light ml-12 line-clamp-1">{{ field.errors.0 }}</div>
                        {% endif %}
                        <img src="{{ field.field.widget.attrs.icon_src }}" class="absolute scale-125 mt-10 ml-4 z-10 pointer-events-none">
                        {{ field.label_tag }} 
                            {% if field.errors %} 
                                <div class="relative outline-error">
                                    <div></div>
                                    {{ field }} 
                                </div>
                            {% else %} 
                                {{ field }}
                            {% endif %}
                    </div>
                    {% endfor %}

                    <div></div>
                    <input type="submit" value="Register" class="col-span-2 mt-4 ease-out-back-little"/>
                    
                    <p class="text-sm col-span-2">Already have an account? <a href="/signin" class="ml-1 underline">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}<script> window.history.replaceState(null, null, '/register');</script>{% endblock %}
