{% extends "authorized.html" %}

{% block top-content %}
<div id="dialog" class="fixed z-20 px-4 w-full h-full flex justify-center items-center invisible opacity-0 duration-150">
    <div id="dialog-dark" class="fixed bg-black w-full h-full opacity-50">
    </div>
    <div id="dialog-bg" class="w-96 p-6 rounded-xl bg-night-800 shadow-rim-sm drop-shadow-lg scale-75 duration-200">
        <h2 class="text-2xl mb-2 font-bold text-center">Buy {{film.title}}</h2>

        
        {% if is_balance_sufficient %}
            <div class="text-left">Balance:🪙 {{ user.balance }}</div>
            <div class="text-left">Price:🪙 {{ film.price }}</div>
            <hr class="h-px my-2 bg-night-400 border-0">
            <div class="text-left">Balance Left:🪙 {{ balance_left_if_purchased }}</div>

            <div class="flex gap-4 mt-4">
                <button id="dialog-cancel-button" class="bg-red-500 hover:bg-red-600 focus:ring-red-500 ease-out-back shadow-rim-md drop-shadow-sm flex items-center gap-1 justify-center">
                    <img src="https://api.iconify.design/mdi/cancel-bold.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-110 ">
                    Cancel
                </button>
                <form action="{{ film.id }}/buy" method="post" class="w-full">
                    {% csrf_token %}
                    <button type="submit" class="bg-green-500 hover:bg-green-600 focus:ring-green-500 ease-out-back shadow-rim-lg drop-shadow-sm flex items-center gap-2 justify-center">
                        <img src="https://api.iconify.design/bxs/purchase-tag.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-110 translate-y-[1px]">
                        Purchase
                    </button>
                </form>
            </div>
        {% else %}
            <div class="text-left">Balance:🪙 {{ user.balance }}</div>
            <div class="text-left">Price:🪙 {{ film.price }}</div>
            <hr class="h-px my-2 bg-night-400 border-0">
            <div class="text-left">Your balance is insufficient</div>

            <div class="flex gap-4 mt-4">
                <button id="dialog-cancel-button" class="bg-red-500 hover:bg-red-600 focus:ring-red-500 ease-out-back shadow-rim-md drop-shadow-sm flex items-center gap-1 justify-center">
                    <img src="https://api.iconify.design/mdi/cancel-bold.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-110 ">
                    Cancel
                </button>
                {% csrf_token %}
                <button disabled type="submit" class="ease-out-back shadow-rim-sm drop-shadow-sm flex items-center gap-2 justify-center">
                    <img src="https://api.iconify.design/bxs/purchase-tag.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-110 translate-y-[1px]">
                    Purchase
                </button>
            </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}

{% block main-content %}

{% include 'components/back-button.html' with url="/" %}

<div class="grid gap-4 sm:gap-4 sm:grid-cols-2 xxs:h-96">
    <div class="w-full overflow-hidden h-80 xxs:h-auto">
        <img src="{{ film.cover_image_url }}" class="object-cover object-center rounded-2xl w-full h-full"></img>
    </div>
    <div class="text-white flex flex-col justify-between bg-night-800 rounded-xl px-4 pt-3 pb-4 shadow-rim-sm drop-shadow-md">
        <div>
            <div class="flex gap-x-2 flex-wrap">
                <h1 class="text-3xl font-bold mb-1 tracking-wider">{{ film.title }}</h1>
                <div class="text-3xl tracking-wider">({{ film.release_year }})</div>
            </div>
            <div class="font-light text-xs sm:text-sm text-night-100">Directed by {{ film.director }}</div>
            
            <div class="font-light text-xs text-night-100 mt-1">{{ film.duration }}</div>
            <div class="flex gap-2 mt-2 mb-4 sm:mt-2 flex-wrap">
                {% for genre in film.genre %} 
                    <div class="text-xs sm:text-sm rounded-lg px-1 py-0.5 sm:px-2 text-night-100 bg-night-400 font-semibold shadow-rim-sm drop-shadow-sm">{{ genre }}</div>
                {% endfor %} 
            </div>

            {% include 'components/star-rating.html' with star=avg_rating %}

            <div class="flex font-bold text-sm mt-2 mb-4 flex-col">
                <div>🪙 {{ film.price }}</div>
            </div>

        </div>

        <div>

            {% if is_purchased %}
                <a href="/details/{{film.id}}/watch" class="focus:ring focus:ring-indigo-800 bg-indigo-600 rounded-xl font-bold text-slate-50 text-base hover:bg-indigo-700 hover:scale-102 duration-200 w-full p-2 cursor-pointer disabled:bg-night-500 disabled:text-night-200 disabled:cursor-not-allowed tracking-wider flex justify-center gap-2 shadow-rim-md drop-shadow-sm hover:text-white focus:text-white ease-out-back">
                    <img src="https://api.iconify.design/bi/play-fill.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-150">
                    <div class="text-lg">Watch</div>
                </a>
            {% else %}
                <div class="grid grid-cols-2 gap-4">
                    
                    {% if in_wishlist %}
                        <form action="/details/{{film.id}}/wish" method="post">
                            {% csrf_token %}
                            <!-- epic django trick to allow put -->
                            <input type="hidden" name="_method" value="delete">

                            <button class="ease-out-back shadow-rim-md drop-shadow-sm flex items-center gap-2 justify-center bg-blue-600 hover:bg-blue-500 focus:bg-blue-700 h-full">
                                <img src="https://api.iconify.design/ic/baseline-star.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-125">
                                <div class="text-xs xxs:text-sm leading-3">Remove from Wishlist</div>
                            </button>
                        </form>
                    {% else %}
                        <form action="/details/{{film.id}}/wish" method="post">
                            {% csrf_token %}
                            <!-- epic django trick to allow delete -->
                            <input type="hidden" name="_method" value="put"> 

                            <button class="ease-out-back shadow-rim-md drop-shadow-sm flex items-center gap-2 justify-center bg-blue-600 hover:bg-blue-500 focus:bg-blue-700 h-full">
                                <img src="https://api.iconify.design/ic/baseline-star.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-125">
                                <div class="text-md">Add to Wishlist</div>
                            </button>
                        </form>
                    {% endif %}


                    <button class="ease-out-back h-full shadow-rim-lg drop-shadow-sm flex items-center gap-2 justify-center bg-green-500 hover:bg-green-600 focus:ring-green-500" id="purchase-button">
                        <img src="https://api.iconify.design/bxs/purchase-tag.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-110 translate-y-[1px]">
                        <div class="text-lg">Purchase</div>
                    </button>

                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="grid xxs:grid-cols-2 mt-4 gap-4">
    <div class="bg-night-800 w-full h-full rounded-xl px-4 pt-3 pb-4 shadow-rim-sm drop-shadow-md">
        <h2 class="text-2xl font-bold tracking-wider">About</h2>
        <p class="font-normal">{{ film.description }}</p>
    </div>
    <div class="bg-night-800 w-full h-full rounded-xl px-4 pt-3 pb-4 shadow-rim-sm drop-shadow-md">
        <h2 class="text-2xl font-bold tracking-wider">Rate</h2>
        <p class="mb-1">Give this film a rate</p>
        
        {% if review %}
            {% with clickable=1 rate=review.rating %}
                {% include 'components/star-rating.html' %}
            {% endwith %}
        {% else %}
            {% with clickable=1 rate=0 %}
                {% include 'components/star-rating.html' %}
            {% endwith %}
        {% endif %}
    </div>
    
</div>

<div class="bg-night-800 w-full h-full rounded-xl px-4 pt-3 pb-4 shadow-rim-sm drop-shadow-md my-4">
    <h2 class="text-2xl font-bold tracking-wider">Review</h2>
    <p class="mt-1 mb-2">Write a review for this film</p>
    

    {% if review.review %}
        <textarea name="review"  form="review-form" class="px-4 py-4 mb-4 text-md min-h-36 ease-linear" placeholder="{{review.review}}"></textarea>
    {% else %}
        <textarea name="review" form="review-form" class="px-4 py-4 mb-4 text-md min-h-36 ease-linear" placeholder="Write your review here..."></textarea>
    {% endif %}

    <form id="review-form" action="/details/{{film.id}}/review" method="post">

        {% csrf_token %}
        <button class="ease-out-back xxs:max-w-48 h-11 shadow-rim-md drop-shadow-sm flex items-center gap-2 justify-center">
            <img src="https://api.iconify.design/ic/round-rate-review.svg?color=white" alt="" class="group-hover:invert group-focus:invert select-nonescale-50 scale-110 translate-y-[1px]">
            {% if review.review %}
                <div class="text-md">Update Review</div>
            {% else %}
                <div class="text-md">Post Review</div>
            {% endif %}
        </button>
    </form>
</div>

<div class="bg-night-800 w-full h-full rounded-xl px-4 pt-3 pb-4 shadow-rim-sm drop-shadow-md my-4">
    <h2 class="text-2xl font-bold tracking-wider mb-2">Review From Other People</h2>
    
    {% for rev in all_review %}
        <div class="px-4 py-3 text-md bg-night-600 rounded-xl shadow-rim-sm drop-shadow-lg mt-4">
            <div class="grid grid-cols-2">
                <div class="font-bold tracking-wide text-lg">{{ rev.user.username }}</div>
                <div class="font-thin text-xs mb-1 text-end">{{ rev.updated_at }}</div>
            </div>
            {% if rev.rating %}
                {% include 'components/star-rating.html' with star=rev.rating %}
                <div class="h-1"></div>
            {% endif %}
            
            {{ rev.review }}
        </div>
    {% endfor %}

    {% if all_review %}
    {% else %}
        <div class="text-center text-lg font-semibold text-white">No review yet!</div>
        <div class="text-center text-sm text-white">Be the first to write a review!</div>
    {% endif %}


</div>


{% endblock %}
        
{% block authorized-js %}
<script>
    (() => {
        const purchaseButton = document.getElementById('purchase-button');
        if(purchaseButton) {
            const dialog = document.getElementById('dialog');
            const dialogBg = document.getElementById('dialog-bg');
            const dialogCancelButton = document.getElementById('dialog-cancel-button');
            purchaseButton.addEventListener('click', () => {
                dialog.classList.remove('invisible');
                dialog.classList.add('visible');
                dialog.classList.remove('opacity-0');
                dialog.classList.add('opacity-100');
                dialogBg.classList.remove('scale-75');
                dialogBg.classList.add('scale-100');

                dialogCancelButton.addEventListener('click', () => {
                    dialog.classList.remove('visible');
                    dialog.classList.add('invisible');
                    dialog.classList.remove('opacity-100');
                    dialog.classList.add('opacity-0');
                    dialogBg.classList.remove('scale-100');
                    dialogBg.classList.add('scale-75');
                });
            });
        }
    })()
</script>
{% endblock %}
    

