{% extends "authorized.html" %}

{% block main-content %}
{% include 'components/back-button.html' with url="/" %}

<h1 class="text-2xl font-bold mb-3 tracking-wider text-center">Hello {{ user.username }} !</h1>
<div class="gap-2 flex flex-col">
    <div class="text-md mb-1 tracking-wider bg-night-800 px-4 py-2 rounded-xl">
        Username: {{ user.username }}
    </div>
    
    <div class="text-md mb-1 tracking-wider bg-night-800 px-4 py-2 rounded-xl">
        Email: {{ user.email }}
    </div>
    
    <div class="text-md mb-1 tracking-wider bg-night-800 px-4 py-2 rounded-xl">
        Balance: {{ user.balance }}
    </div>
    
    <div class="text-md mb-1 tracking-wider bg-night-800 px-4 py-2 rounded-xl">
        First Name: {{ user.first_name }}
    </div>
    
    <div class="text-md mb-1 tracking-wider bg-night-800 px-4 py-2 rounded-xl">
        Last Name: {{ user.last_name }}
    </div>

</div>

{% endblock %}
        
    

