{% extends "authorized.html" %}


{% block main-content %}
{% include 'components/back-button.html' with url="/" %}

<section class="xxs:bg-night-900 bg-night-800 justify-center rounded-2xl xxs:shadow-none xxs:drop-shadow-none shadow-rim-sm drop-shadow-md">
    <div class="flex mb-4 w-full h-full items-center justify-center px-5 mx-auto rounded-2xl">
        <div class="w-full rounded-2xl border xxs:max-w-2xl bg-night-800 border-none shadow-none xxs:shadow-rim-sm xxs:drop-shadow-md">
            <div class="xxs:p-8 xxs:pt-6 py-4">
                <h1 class="mb-2 text-xl xxs:text-2xl font-bold leading-tight md:text-2xl text-white justify-center flex">
                    Hello {{ user.username }}
                </h1>
                <form method="POST" novalidate action="/signout">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 xxs:grid xxs:grid-cols-2 gap-y-2 xxs:gap-y-2 xxs:gap-x-4">
                        <div class="relative">
                            <img src="https://api.iconify.design/mdi/user.svg?color=%2354565c" class="absolute scale-125 mt-10 ml-4 z-10 pointer-events-none">
                            <div class="text-night-100">Username</div>                        
                            <div class="appearance-none sm:text-sm rounded-xl w-full p-2.5 bg-night-600 border-2 placeholder-night-400 duration-200 drop-shadow-sm ease-out-back h-12 border-none pl-12 flex items-center text-night-100 shadow-rim-sm">{{user.username}}</div>                        
                        </div>
                        <div class="relative">
                            <img src="https://api.iconify.design/mdi/user.svg?color=%2354565c" class="absolute scale-125 mt-10 ml-4 z-10 pointer-events-none">
                            <div class="text-night-100">Email</div>                        
                            <div class="appearance-none sm:text-sm rounded-xl w-full p-2.5 bg-night-600 border-2 placeholder-night-400 duration-200 drop-shadow-sm ease-out-back h-12 border-none pl-12 flex items-center text-night-100 shadow-rim-sm">{{user.email}}</div>                        
                        </div>
                        <div class="relative">
                            <img src="https://api.iconify.design/mdi/user.svg?color=%2354565c" class="absolute scale-125 mt-10 ml-4 z-10 pointer-events-none">
                            <div class="text-night-100">First Name</div>                        
                            <div class="appearance-none sm:text-sm rounded-xl w-full p-2.5 bg-night-600 border-2 placeholder-night-400 duration-200 drop-shadow-sm ease-out-back h-12 border-none pl-12 flex items-center text-night-100 shadow-rim-sm">{{user.first_name}}</div>                        
                        </div>
                        <div class="relative">
                            <img src="https://api.iconify.design/mdi/user.svg?color=%2354565c" class="absolute scale-125 mt-10 ml-4 z-10 pointer-events-none">
                            <div class="text-night-100">Last Name</div>                        
                            <div class="appearance-none sm:text-sm rounded-xl w-full p-2.5 bg-night-600 border-2 placeholder-night-400 duration-200 drop-shadow-sm ease-out-back h-12 border-none pl-12 flex items-center text-night-100 shadow-rim-sm">{{user.last_name}}</div>                        
                        </div>
                        <div class="relative">
                            <img src="https://api.iconify.design/ion/wallet-sharp.svg?color=%2354565c" class="absolute scale-125 mt-10 ml-4 z-10 pointer-events-none">
                            <div class="text-night-100">Balance</div>                        
                            <div class="appearance-none sm:text-sm rounded-xl w-full p-2.5 bg-night-600 border-2 placeholder-night-400 duration-200 drop-shadow-sm ease-out-back h-12 border-none pl-12 flex items-center text-night-100 shadow-rim-sm">🪙 {{user.balance}}</div>                        
                        </div>
                    </div>
                    

                    <input type="submit" value="Logout" class="col-span-2 ease-out-back-little !bg-red-600 hover:!bg-red-700 focus:!bg-red-800 focus:!ring-red-600 mt-4"/>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
    

