{% extends "authorized.html" %}

{% block main-content %} 
    <div class="flex mb-4 gap-4">
        <img class="scale-200 -translate-y-0.5 ml-2" src="https://api.iconify.design/ic/baseline-star.svg?color=white" alt="">
        <h1 class="text-3xl font-bold tracking-wider">Wishlist</h1>
    </div>
    {% if films|length == 0 %}
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-xl w-56 xxs:w-96">You don't have any wishlisted film</p>
            <a class="text-md underline" href="/">Browse Film</a>
        </div>
    {% else %}
        <div id="results" class="gap-4 xm:flex sm:flex-wrap grid grid-cols-2">
        {% for film in films %} 
            {% include 'components/film-card.html' with film=film %}
        {% endfor %} 
        </div> 
    {% endif %}
{% endblock %}
        
    