{% extends "authorized.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static './browse/browse.css' %}">{% endblock %}

{% block main-content %} 
<!-- if no search query -->
<div class="recommendation">
    <h2>Recommendation</h2>
    <div id="results"></div>
</div>

<!-- if has search query -->
<div class="browse-results">
    <h2>Results</h2>
    <ul id="results"> 
    {% for film in films %} 
        <li>{{ film }}</li> 
    {% endfor %} 
    </ul> 
</div>
{% endblock %}
        
    

