{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %} <title>Film Store</title> {% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    {% tailwind_css %}

    {% block style %}{% endblock %}
    
    {% block icon %}<link rel="icon" href="./favicon.ico" type="image/x-icon">{% endblock %}

  
</head>
  <body>
    <div class="relative">
      <div class="fixed bg-indigo-500 h-0.5 duration-1000 ease-out" id="loading-bar"></div>
    </div>
    {% block main %} <h1>Base page</h1>  {% endblock %}
    {% block js %}{% endblock %}

  </body>

  <script>
    const submitButton = document.querySelector('input[type="submit"]');
    if (submitButton) {
      loadingDiv = document.getElementById('loading-bar');
      loadingDiv.style.width = '0%';
      submitButton.addEventListener('click', () => {
        loadingDiv.style.width = '100%';
        submitButton.classList.remove('ease-out-back-little');
        submitButton.classList.add('ease-out');
        setTimeout(() => {
          submitButton.disabled = true;
        }, 10);
      });
    }
  </script>

  <style>
    body {
      font-family: "Outfit", sans-serif;
      color: white;
    }
  </style>
</html>
