{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %} <title>Film Store</title> {% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './global.css' %}">
    {% tailwind_css %}

    {% block style %}{% endblock %}
    
    {% block icon %}<link rel="icon" href="./favicon.ico" type="image/x-icon">{% endblock %}

  
</head>
  <body>
    {% block main %} <h1>Base page</h1>  {% endblock %}
    {% block js %}{% endblock %}
  </body>
</html>
