{% extends "authorized.html" %}

{% block main-content %} 
    <div class="flex mb-4 gap-4">
        <img class="scale-180 ml-2" src="https://api.iconify.design/tabler/brand-minecraft.svg?color=white" alt="">
        <h1 class="text-2xl xxs:text-3xl font-bold tracking-wider">My Purchased Films</h1>
    </div>
    {% if films|length == 0 %}
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
            <p class="text-xl w-64 xxs:w-96">You don't have any purchased film</p>
            <a class="text-md underline" href="/">Browse Film</a>
        </div>
    {% else %}
        <div id="results" class="gap-4 xm:flex sm:flex-wrap grid grid-cols-2 xxs:grid-cols-3 md:grid-cols-4 mb-4">
        {% for film in films %} 
            {% include 'components/film-card.html' with film=film %}
        {% endfor %} 
        </div> 

        {% include 'components/pagination.html' %}
        <!-- Gotta give some space for the overlay balance -->
        <div class="h-12"></div> 
    {% endif %}
{% endblock %}
        
    

