{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static './bought/bought.css' %}">{% endblock %}

{% block main %} 
<main>
    <h1>Film That I Bought</h1>
    
    <div class="film-list">
        <ul>
            {% for film in films %}
            <li>
                <div class="film">
                    <div class="film-info">
                        <h3>{{ film.title }}</h3>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}

{% block js %}<script src="{% static './bought/bought.js' %}"></script>{% endblock %}
